<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<%= check_box_tag 'completed', '', "#{@task.completed}", disabled: true %> <br>

<%= link_to 'Edit',  edit_path(@task)%> <br>
<%= link_to 'Delete', task_path(@task),
method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %> <br>
<%= link_to 'Back',  tasks_path %>
